<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Submit Name</title>
  </head>
  <style>



  </style>
  <body>
    <form action="/submit_name" method="POST">


      What is your name?: <input type="text" name="name" size="20">


      <button type="submit">Submit</button>
    </form>
  </body>
</html>
